.navbar-text {
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* CONTENIDO PRINCIPAL */
.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.left-column {
    width: 78%;
    margin-right: 2%;
    border-right: 1px solid black;
    min-height: 60vh;
}

.right-column {
    width: 20%;
}

.left-column table {
    width: 100%;
}

thead {
    font-weight: bold;
}

.filas-tabla td {
    padding: 10px 0;
}

.filtro-container li {
    text-decoration: none;
    list-style: none;
}

.filtro-container {
    padding-left: 0;
}