<h3>Todos los censos</h3>
<table>
    <tr>
        <td>
            Votación
        </td>
        <td>
            Votante
        </td>
        <td>
            Adscripción
        </td>
        <td>
            Fecha
        </td>
    </tr>
    {% for c in census %}
        <tr>
            <td>
                {{c.voting_name}}
            </td>
            <td>
                {{c.voter_username}}
            </td>
            <td>
                {{c.adscripcion}}
            </td>
            <td>
                {{c.date}}
            </td>
        </tr>
    {% endfor %}
</table>
<br/>
Todos los censos
<br/>
<a href="{% url 'all_census' %}">censos</a>
<br/><br/>
Filtro por adscripcion
<ul>
    {% for adscripcion in adscripciones %}
        <li><a href="{% url 'filter_by_adscripcion' adscripcion=adscripcion %}">{{adscripcion}}</a></li>
    {% endfor %}
</ul>

<br/><br/>
Filtro por votación
<ul>
    {% for voting in votings %}
        <li><a href="{% url 'filter_by_voting' voting_id=voting.id %}">{{voting.name}}</a></li>
    {% endfor %}
</ul>